.Quiz {
  flex-grow: 1;
  padding-top: 100px;
  background-color: #e0e5ec;
  color: rgb(44, 44, 44);
}

.Quiz h1 {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.QuizWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 7px;
  min-height: 320px;
  max-width: 600px;
  padding: 30px 40px;
  background-color: #e0e5ec;
  color: rgb(44, 44, 44);
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
}
