.Quiz {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background-color: #e0e5ec;
}

.Quiz h1 {
  color: rgb(44, 44, 44);
  margin-left: 10px;
}

.QuizWrapper {
  width: 600px;
}
