.Input {
  margin-bottom: 15px;
}

.Input label {
  margin-left: 3px;
  margin-bottom: 10px;
  padding: 0px;
  display: block;
  font-weight: bold;
  transition: all 0.2s;
}

.Input input {
  padding: 15px 20px;
  border: none;
  box-sizing: border-box;
  font-size: 14px;
  display: block;
  width: 100%;
  border-radius: 16px;
  background: #ecf0f3;
  box-shadow: 4px 4px 4px 0px #d1d9e6 inset, -4px -4px 4px 0px #ffffff inset;
  outline: none;
}

.Input span {
  color: #f0505d;
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
  text-align: right;
  margin-left: 3px;
  margin-top: 5px;

  -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.2s; /* Firefox < 16 */
  -ms-animation: fadein 0.2s; /* Internet Explorer */
  -o-animation: fadein 0.2s; /* Opera < 12.1 */
  animation: fadein 0.2s;
}

.Input.invalid label {
  color: #f0505d;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
