.QuizCreator {
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 100%;
  background-color: #e0e5ec;
}
.QuizCreator h2 {
  text-align: center;
}

.creatorForm {
  background-color: #e0e5ec;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
  padding: 30px;
  width: 600px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
}

.overviewContainer {
  background-color: #e0e5ec;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
  padding: 30px;
  width: 600px;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  margin-bottom: 30px;
}

.overviewContainer > span {
  text-align: center;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  flex-wrap: wrap;
}

.devider {
  height: 10px;
  width: 100px;
  margin: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 4px 4px 10px rgba(163, 177, 198, 0.6),
    -4px -4px 10px rgba(255, 255, 255, 0.5);
}

hr {
  width: 90%;
  height: 5px;
  outline: none;
  border: none;
  background-color: #fff;
  margin-top: 0px;
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: 4px 4px 4px 0px #d1d9e6 inset, -2px -2px 2px 0px #fff inset;
}
