.Auth {
  padding-top: 100px;
  flex-grow: 1;
  background-color: #e0e5ec;
}

.Auth h1 {
  color: rgb(44, 44, 44);
  text-align: center;
}

.AuthForm {
  background-color: #e0e5ec;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
  padding: 30px;
  display: flex;
  max-width: 600px;
  min-height: 385px;
  margin: 0 auto;
  flex-direction: column;
  border-radius: 7px;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  flex-wrap: wrap;
  min-height: 190px;
  align-items: center;
}

.btnContainer button {
  width: 100%;
}

.warning {
  color: #f0505d;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  margin-top: 8px;
  margin-left: 3px;
  margin-top: 5px;

  -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.2s; /* Firefox < 16 */
  -ms-animation: fadein 0.2s; /* Internet Explorer */
  -o-animation: fadein 0.2s; /* Opera < 12.1 */
  animation: fadein 0.2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
