.Auth {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  flex-grow: 1;
  width: 100%;
  background-color: #e0e5ec;
}

.Auth > div {
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.Auth h1 {
  color: rgb(44, 44, 44);
  text-align: center;
}

.AuthForm {
  background-color: #e0e5ec;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
}

.btnContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  flex-wrap: wrap;
}
